.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;

  @include viewport--xl {
    max-width: 1400px;
  }

  @include viewport--md {
    padding: 0 24px;
  }

  @include viewport--sm {
    padding: 0 16px;
  }

  &--no-padding {
    @include viewport--sm {
      padding: 0;
    }
  }
}
