@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Ptrootui";

  src:
    url("../fonts/Ptrootui-Regular.woff2") format("woff2"),
    url("../fonts/Ptrootui-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: "Ptrootui";

  src:
    url("../fonts/Ptrootui-Bold.woff2") format("woff2"),
    url("../fonts/Ptrootui-Bold.woff") format("woff");
}
