.modal-filter__label
    label Стадия продаж
.modal-filter__inputs.filter-dropdown-single-choices
    select(class="modal-sales form-control" name="choices-single-custom-templates" id="choices-single-custom-templates")
    option(value="любая" selected) любая
    option(value="идут продажи от застройщика") идут продажи от застройщика
    option(value="открыто бронирование") открыто бронирование
    option(value="продажи от застройщика не начаты") продажи от застройщика не начаты
    option(value="продажи от застройщика приостановлены") продажи от застройщика приостановлены
    option(value="продано") продано
.modal-filter__row
.modal-filter__label
    label Тип квартир
.modal-filter__inputs.filter-dropdown-single-choices
    select(class="modal-apartment form-control" name="choices-single-custom-templates" id="choices-single-custom-templates")
    option(value="не важно" selected) не важно
    option(value="апартаменты") апартаменты
    option(value="без апартаментов") без апартаментов
     