.header {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 60px;
  padding: 0 25px;

  background-color: $color-default-white;
  border-bottom: 1px solid $color-whisper;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 207px;
    height: 3px;
    background-color: $color-fire-engine-red;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  &__icon-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 125px;
    padding-right: 30px;
  }

  a,
  p {
    color: $color-white;
  }

  ul {
    display: flex;
    margin: 0;
    margin-right: 20px;
    margin-left: 60px;
    padding: 0;

    list-style: none;

    li {
      margin-right: 20px;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}
