@font-face {
    font-weight: 400;
    font-family: "PTMono";
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PTMono-Regular.woff2") format("woff2"), url("../fonts/PTMono-Regular.woff") format("woff");
  }